/* 

Project Name: Cyro gamer 
Client: Goutham
*/

body {
	
	background: url(../images/bg.png);

	background-position: center;
	background-attachment: fixed;
	-webkit-background-size: cover; /* the next 3 lines are "browser prefixes", they are necessary to include for CSS3 techniques */
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#container {

	background: rgb(19, 161, 161);
	width: 428px;
	color: floralwhite;
	padding: 12px;
}

h1{
	font-family: 'Noto Sans Mono', monospace;
	font-size: 90px;
}

h2{
	background: hotpink;
	color: rgb(17, 16, 17);
	font-size: 37px;
	padding: 5px;
	border-radius: 5px;
}

a{
	color: rgb(201, 39, 39);
	text-decoration: none;
}

p{
	color: whitesmoke;
}

